/*
 * Copyright (c) 2024 orientino
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define SY1 1
#define SY2 2
#define FNC 3
#define RST 4

/ {
    combos {
        #include "combos.dtsi"    
    };

	behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
        };
    };
};

/*           34 Keys
╭──────────────╮ ╭──────────────╮
│ 0  1  2  3  4│ │ 5  6  7  8  9│
│10 11 12 13 14│ │15 16 17 18 19│
│20 21 22 23 24│ │25 26 27 28 29│
╰────────╮30 31│ │32 33╭────────╯
         ╰─────╯ ╰─────╯         */


/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
			&kp Q &kp W &kp E &kp R &kp T           		&kp Y &kp U &kp I &kp O &kp P 
			&kp A &kp S &kp D &kp F &kp G           		&kp H &kp J &kp K &kp L &kp BSPC
			&kp Z &kp X &kp C &kp V &kp B           		&kp N &kp M &kp COMMA &kp DOT &kp FSLH
							&mo SY2 &kp SPACE       		&kp RET &mo SY1
			>;
		};

		sy1_layer {
			bindings = <
			&kp N1 &kp N2 &kp N3 &kp N4 &kp N5		     	&kp N6 &kp N7 &kp N8 &kp N9 &kp N0
			&kp TILDE &kp LT &kp LPAR &kp LBRT &kp LBKC  	&kp SQT &kp EQUAL &kp UNDER &kp MINUS &kp STAR
			&kp GRAVE &kp GT &kp RPAR &kp RBRT &kp RBKC  	&kp DQT &kp EXCL &kp QMARK &kp PLUS &kp BSLH
											&none &none  	&none &none  
			>;
		};

		sy2_layer {
			bindings = <
			&none &none &none &none &none 					&kp AT &kp HASH &kp DLLR &kp PRCNT &kp HOME
			&kp CAPS &none &none &none &none 				&kp CARET &kp COLON &kp SEMI &kp UP &kp END
			&kp ESC &none &none &none &none 				&kp AMPS &kp PIPE &kp LEFT &kp DOWN &RIGHT
							&none &mo FNC    				&none &none
			>;
		};

		fnc_layer {
			bindings = <
			&kp F1 &kp F2 &kp F3 &kp F4 &PRINTSCREEN		&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_CLR &none
			&kp F5 &kp F6 &kp F7 &kp F8 &none				&none &none &none &none &none
			&kp F9 &kp F10 &kp F11 &kp F12 &none			&none &none &none &none &none
										&none &mo RST		&none &none  
			>;
		};

		rst_layer {
			bindings = <
			&none &none &none &none &none					&none &none &none &none &none
			&none &none &none &none &none					&none &none &none &none &none
			&none &none &none &none &none                  	&none &none &none &none &bootloader
							&none &none						&none &none  
			>;
		}
	};
};
